# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# expo
.expo/
.expo-shared/
.expo-dev-cache/
.expo-web-cache/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*
.expo/.cache/
.cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# editor settings
.vscode/
.idea/
*.swp

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# linux
*~
.nfs*

# local env files
.env*.local
.env
.env.local
.env.development
.env.production
.env.test

# build artifacts
build/
dist/
coverage/
tmp/
temp/

# typescript
*.tsbuildinfo

# firebase
firebaseconfig.*